if messages.errors
  .alert.alert-dismissible.alert-danger.mt-4
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    alert-heading Error
    for error in messages.errors
      div.mb-0= error.msg
if messages.info
  .alert.alert-dismissible.alert-info.mt-4
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    alert-heading Info
    for info in messages.info
      div= info.msg
if messages.success
  .alert.alert-dismissible.alert-success.mt-4
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    alert-heading Success
    for success in messages.success
      div= success.msg
