footer.mt-2
  .container.text-center
    p.pull-left © 2018 Samuel Henry + Team
    ul.pull-right.list-inline
      li
        a(href='https://samueljim.com') samueljim.com
      li
        a(href='https://github.com/samueljim') Github
