nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='#') Tanda Hack
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class=(title === 'Home') ? 'active' : undefined)
        a.nav-link(href='/') Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/contact' class=((title === 'Contact') ? 'active' : undefined)) Contact
      li.nav-item
        a.nav-link(href='/status') Status
    ul.nav.navbar-nav.navbar-right
      if !user
        li.nav-item(class=(title === 'Login') ? 'active' : undefined)
          a.nav-link(href='/auth/google')
            i.fab.fa-google.pr-2
            | Sign in with Google
      else
        li.nav-item.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
            if user.picture
              img(src=user.picture).pr-2
            else
              img(src=user.gravatar(60))
            span= user.name || user.email || user.id
            i.caret
          ul.dropdown-menu.dropdown
            li.pl-2
              a(href='/account') My Account
            li.divider
            li.pl-2
              a(href='/logout') Logout
