extends layout

block content
  h1.display-3 Test the API
  p.lead
    | Try Saying to your google assistant
  blockquote.blockquote
  p.mb-0 "Hey google, tell my boss i'm running late"
  hr.my-4
  p test that slack will post here
  form(method='POST')
    .form-group
      label Where are you now?
      label.my-1.mr-2(for='inlineFormCustomSelectPref') Choose how you are moving
      select.form-control#inlineFormCustomSelectPref.custom-select.my-1.mr-sm-2(name='mode')
        option(value='driving') Driving
        option(value='walking') Walking
        option(value='bicycling') Bike
        option(value='transit') Bus
      input.form-control(type='text', name='latitude' id='latitude')
      input.form-control(type='text', name='longitude' id='longitude')
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4.pt-3
        button.btn.btn-danger(type='submit')
          i.fas.fa-external-link-alt.fa-sm.pr-2
          | Test
  .col-sm-offset-3.col-sm-4.pt-3
    a.btn.btn-danger(href='/locations')
      i.fas.fa-edit.pr-2
      | Edit work location
  script.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {

      var lat = position.coords.latitude;
      var long = position.coords.longitude;
      document.getElementById('latitude').value = lat;
      document.getElementById('longitude').value = long;

      });
    }
