extends layout

block content
  h1.display-3 Please enter addresses
    p.lead
      | Try Saying to your google assistant
    blockquote.blockquote
    p.mb-0 "Hey google, tell my boss i'm running late"
    hr.my-4
    
  