extends layout

block content
  //- h1.pt-4 ETAssistant
  //- p.lead A ETAssistant for Node.js web applications.
  hr

  .row
    .col-sm-6
      h1.display-3 How ETAssistant works?
      p.lead
        | ETAssistant is for Node.js web applications....
      hr.my-4
      p.lead
       a.btn.btn-primary.btn-lg.mr-2.right-5(href='#', role='button') Learn more 
       a.btn.btn-primary.btn-lg(href='#', role='button') Sign up
    //-  h2 How ETAssistant works?
    //-  p ETAssistant is a .......
    //-p
        a.btn.btn-default(href='#', role='button') View details »
    //-.col-sm-6
      h2 Description
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      img(src='./googleLogo.png', width='500', height='500')
      h6(style='text-indent :15em;')
       b Join with Google
    //-  p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-  p
        a.btn.btn-default(href='#', role='button') View details »
    //-.col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
