extends layout

block content
  .jumbotron
    h1.display-3 Next step is to add your slack account
    a(href='/auth/slack')
      img(src="https://api.slack.com/img/sign_in_with_slack.png")
    hr.my-4
