extends layout

block content
  .jumbotron
    h1 Please enter addresses
    form(method='post')
      .form-group.row
        .col-sm-10
          label.col-sm-2.col-form-label(for='work') Work
          #locationField
            input.form-control#autocomplete(placeholder='Enter your home address', name='work' value=user.work onfocus='geolocate()', type='text')
            .form-group.row
        .col-sm-10
          label.col-sm-2.col-form-label(for='home') Home
          #locationField2
            input.form-control#autocomplete2(placeholder='Enter your work address', name='home' value=user.home onfocus='geolocate()', type='text')
        .col-sm-10
          button.btn-lg.btn-primary.mt-4(type='submit') Submit
      .form-group.row
    script.
      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});
        autocomplete2 = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete2')),
            {types: ['geocode']});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
        autocomplete2.addListener('place_changed', fillInAddress);
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCHeLg2ErCDiBQJq7LDQAonbddxza3IOKY&libraries=places&callback=initAutocomplete', async='', defer='')
